/**
 * @author Bao Ha <quangbao1994@gmail.com> 
 * @facebook Hà Quang Bão <https://www.facebook.com/hafquangbaox>
 * @github lozthiensu <https://github.com/lozthiensu/bMessenger>
 */

html,
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
    background: #ffffff;
    height: 100%;
    width: auto;
    min-width: 280px;
    height: 430px;
    margin: 0px;
    font-size: 0.9rem;
}
.author-center{
  text-align: justify;
}
.line-1-rem{
    font-size: 1rem;

}
.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-title {
    color: #ff5000;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.dud {
    color: #000;
}
.block-container{
    padding: 15px;
}
.block-container-author{
    padding: 15px;
    text-align: center;
}
hr{
    margin-block-start: 0;
    margin-block-end: 0;
}
.half-hr{

    width: 50%;
    margin-block-start: 0;
    margin-block-end: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff5000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff5000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-radio input:checked ~ .checkmark {
  background-color: #ff5000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

button.opera-panel {
  line-height: 0px;
  font-weight: bold;
  padding: 0 00px;
  background: #ff9000;
  border: none;
  border-radius: 50%;
  z-index: 999999999;
  position: absolute;
}
button.opera-panel:hover {
  background: #ff5000;
}

