/**
 * @author Bao Ha <quangbao1994@gmail.com> 
 * @facebook Hà Quang Bão <https://www.facebook.com/hafquangbaox>
 * @github lozthiensu <https://github.com/lozthiensu/bMessenger>
 */

html,
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
    background: #ffffff;
    height: auto;
    width: auto;
    min-width: 230px;
    min-height: 250px;
    margin: 0px;
    font-size: 0.8rem;
}
.author-center{
  text-align: justify;
}
.line-1-rem{
    font-size: 1rem;

}
.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-title {
    color: #ff5000;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.dud {
    color: #000;
}
.block-container{
    padding: 5px 10px 5px 10px;
}
.block-container-author{
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
}
p {
  margin-block-start: 0rem;
  margin-block-end: 0.2em;

}
hr{
    margin-block-start: 0;
    margin-block-end: 0;
}
.half-hr{

    width: 50%;
    margin-block-start: 0;
    margin-block-end: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff5000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff5000;
}

input:checked + .slider:before {
  -webkit-transform: translate3d(20px, 0, 0);
  -ms-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-radio input:checked ~ .checkmark {
  background-color: #ff5000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

button.opera-panel {
  line-height: 0px;
  font-weight: bold;
  padding: 0px 0px;
  background: #ff9000;
  border: none;
  border-radius: 50%;
  z-index: 999999999;
  position: absolute;
}
button.opera-panel:hover {
  background: #ff5000;
}

a:hover {
  color: #ff5000;
}

a {
  color: #000;
}

a:active {
  color: #ff5000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #ff5000;
}


a.author-center-donate {
  color: #ff5000;
}

a.author-center-donate>img {
  height: 40px;
  border-radius: 5px;
}

a.author-center-donate:hover {
  color: #ff8000;
}


input#toggle {
  display: none;
  visibility: hidden;
}
label.toggle {
  display: block;
  padding: 0.5em;
  text-align: center;
  font-size: 1.0rem;
  font-weight: bolder;
  cursor: pointer;
}
label.toggle:hover {
  color: #000;
}
label.toggle::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 1rem;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  border-bottom: 1px solid #CCC;
}
div#expand>section {
  padding: 0 20px;
}
input#toggle:checked ~ #expand {
  height: 110px;
}
input#toggle:checked ~ label.toggle::before {
  content: "-";
}


